.category_wrapper{
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.category_item{
    background-color:  #7a4fa1;
    color: white;
    padding: 16px;
}

.active{
    background-color: #e76e51;
}

.inactive{
    text-decoration: none;
}